
**/node_modules/
**/dist/
**/build/
**/.vite/
.env
.env.local
.DS_Store

**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
**/.ipynb_checkpoints/

**/*.csv
**/*.pkl
**/*.xlsx

!srcML/disk_model.pkl
!srcML/disk_health_pipeline.pkl
!srcML/tensorflow_anomaly/*.keras
!srcML/tensorflow_anomaly/*.pkl
!srcML/tensorflow_anomaly/*.json
!feature_importance.csv

.idea/
.vscode/
.dockerignore